<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head th:fragment="headerfiles">
        <meta charset="UTF-8" />
        <link th:href="@{/css/styles.css}" rel="stylesheet">
    </head>

    <body>
        <header>
            <nav th:fragment="nav" style="background-color: #004d40 !important;">
                <div class="nav-wrapper teal darken-4" style="width:90%; margin: 0 auto;">
                    <a href="/" class="brand-logo">MentorArc</a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a th:if="${session.isMentor == 'true'}" href="/allHelpRequest">All Requests</a></li>
                    <li><a th:if="${session.isPoulain == 'true'}" href="/allHelpProposition">All propositions</a></li>
                    <li><a th:if="${session.isMentor == 'true'}" href="/formHelpProposition">Create a proposition</a></li>
                    <li><a th:if="${session.isPoulain == 'true'}" href="/formHelpRequest">Create a request</a></li>
                    <li><a th:if="${session.isMentor == 'true'}" href="/allPropositionByMentor">Your propositions</a></li>
                    <li><a th:if="${session.isPoulain == 'true'}" href="/allPropositionByPoulain">Your propositions</a></li>
                    <li><a th:if="${session.isPoulain == 'true'}" href="/allRequestByPoulain">Your requests</a></li>
                    <li><a th:if="${session.isMentor == 'true'}" href="/allRequestByMentor">Your requests</a></li>
                    <li><a th:if="${session.isAdmin == 'true'}" href="/admin">Admin</a></li>
                    <li><a th:if="${session.username != null}" href="/logout">Logout</a></li>
                    <li><a th:if="${session.username == null}" href="/login">Login</a></li>
                    <li><a th:if="${session.username == null}" href="/register">Register</a></li>
                    </ul>
                </div>
            </nav>
        </header>
    </body>
</html>