<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

    <head th:fragment="headerfiles">
        <meta charset="UTF-8" />
        <link th:href="@{/css/styles.css}" rel="stylesheet">
    </head>

    <body>
        <header th:fragment="header">
            <nav>
                <div class="nav-wrapper teal darken-4">
                    <a href="/" class="brand-logo">MentorArc</a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a th:if="${session.isMentor == 'true'}" href="/allHelpRequest">AllHelpRequest</a></li>
                    <li><a th:if="${session.isPoulain == 'true'}" href="/allHelpProposition">AllHelpProposition</a></li>
                    <li><a th:if="${session.isMentor == 'true'}" href="/formHelpProposition">formHelpProposition</a></li>
                    <li><a th:if="${session.isPoulain == 'true'}" href="/formHelpRequest">formHelpRequest</a></li>
                    <li><a th:if="${session.isMentor == 'true'}" href="/allPropositionByMentor">Your Proposition</a></li>
                    <li><a th:if="${session.isPoulain == 'true'}" href="/allRequestByPoulain">Your Request</a></li>
                    <li><a th:if="${session.isAdmin == 'true'}" href="/admin">Admin</a></li>
                    <li><a th:if="${session.username != null}" href="/logout">Logout</a></li>
                    <li><a th:if="${session.username == null}" href="/login">Login</a></li>
                    <li><a th:if="${session.username == null}" href="/register">Register</a></li>
                    </ul>
                </div>
            </nav>
        </header>
    </body>
</html>