<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>
<title>All Help Request</title>
</head>
<body>
	<header th:insert="nav.html :: header"> </header>

	<h1>All Help Request</h1>
	<table class="table">
		<thead>
			<tr>
				<th scope="col">Id</th>
				<th scope="col">Matiere</th>
				<th scope="col">Date Begin</th>
				<th scope="col">Date End</th>
				<th scope="col">Comment</th>
				<th scope="col">Poulain</th>
				<th scope="col">Mentor</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="help: ${helpRequests}">
				<td th:text="${help.id}" />
				<td th:text="${help.matiere}" />
				<td th:text="${#dates.format(help.dateBegin, 'dd-MM-yyyy HH:mm')}"/>
				<td th:text="${#dates.format(help.dateEnd, 'dd-MM-yyyy HH:mm')}"/>
				<td th:text="${help.comment}" />
				<td th:text="${help.poulain.id}" />
				<td th:text="${help.mentor != null} ? ${help.mentor.id} : ''"/>
			</tr>
		</tbody>
	</table>
</body>
</html>
