<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="ISO-8859-1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>
        <title>MentorArc</title>
    </head>

    <body>
        <header th:insert="fragments/nav.html :: header"> </header>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">FirstName</th>
                    <th scope="col">LastName</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="mentor: ${mentors}">
                    <td th:text="${mentor.id}" />
                    <td th:text="${mentor.lastName}" />
                    <td th:text="${mentor.firstName}" />
                </tr>
            </tbody>
        </table>
    </body>
</html>
