<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>
<title>MentorArc</title>
</head>
	<body>

	<header th:insert="nav.html :: header"> </header>

	<h1>All Poulain</h1>
		<table class="table">
			<thead>
				<tr>
					<th scope="col">Id</th>
					<th scope="col">FirstName</th>
					<th scope="col">LastName</th>
					<th scope="col">helpRequest</th>
					<th scope="col">IdHelpRequests</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="poulain: ${poulains}">
					<td th:text="${poulain.id}"/>
					<td th:text="${poulain.firstName}" />
					<td th:text="${poulain.lastName}" />
					<td th:text="${poulain.helpRequests}" />
					<div th:if="${not #sets.isEmpty(poulain.helpRequests)}">	
						<td th:each="help :${poulain.helpRequests}">
							<p th:text="${help.id}"/>		
						</td>	
					</div>
				</tr>
			</tbody>
		</table>
	</body>
</html>
