<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="ISO-8859-1">
       
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>    
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
    

        <title>Form HelpProposition</title>

    </head>
    <body>

        <header th:insert="fragments/nav.html :: header"> </header>

        <h1>Form HelpProposition</h1>
        <form action="#" th:action="@{/insertHelpProposition}" th:object="${helpProposition}" method="post">
            <p>HelpProposition matiere: <input type="text" th:field="*{matiere}" /></p>
            <p>HelpProposition date begin: <input type="datetime-local" th:field="*{dateBegin}" /></p>
            <p>HelpProposition date end: <input type="datetime-local" th:field="*{dateEnd}" class="datepicker" >  
            <p>HelpProposition comment: <input type="text" th:field="*{comment}" /></p>
            <p><input type="submit" value="Submit"  class="waves-effect waves-light btn right teal darken-2"/></p>
        </form>
    

    </body>
</html>
