<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>Form Poulain</h1>
    <form action="#" th:action="@{/insertPoulain}" th:object="${poulain}" method="post">
    	<p>Poulain Firstname: <input type="text" th:field="*{firstName}" /></p>
    	<p>Poulain Lastname: <input type="text" th:field="*{lastName}" /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
</body>
</html>
