<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>MentorArc</title>
</head>
    <body>
        <h1>Form Mentor</h1>
        <form action="#" th:action="@{/insertMentor}" th:object="${mentor}" method="post">
            <p>Mentor Firstname: <input type="text" th:field="*{firstName}" /></p>
            <p>Mentor Lastname: <input type="text" th:field="*{lastName}" /></p>
            <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
        </form>
    </body>
</html>
