<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="ISO-8859-1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
        <script type = "text/javascript" src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>           
        <script src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>           
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.js"></script>

        <title>Form HelpRequest</title>
    </head>
    <body>
        <header th:insert="fragments/nav.html :: header"> </header>
        <h1>Form HelpRequest</h1>
        <form action="#" th:action="@{/insertHelpRequest}" th:object="${helpRequest}" method="post">
            <p>HelpRequest matiere: <input type="text" th:field="*{matiere}" /></p>
            <p>HelpProposition dateBegin: <input type="datetime-local" class="datepicker" th:field="*{{dateBegin}}" /> </p>
            <p>HelpProposition timeBegin: <input type="text" class="timepicker" th:field="*{timeBegin}" /></p> 
            <p>HelpProposition dateEnd: <input type="datetime-local" class="datepicker" th:field="*{{dateEnd}}" /> </p>
            <p>HelpProposition timeBegin: <input type="text" class="timepicker" th:field="*{timeEnd}" /></p>   
            <p>HelpRequest comment: <input type="text" th:field="*{comment}" /></p>
            <p><input type="submit" value="Submit"  class="waves-effect waves-light btn right  teal darken-2"/></p>
        </form>

        <script>
            jQuery(document).ready(function(){
                jQuery('.timepicker').timepicker({
                twelveHour: false
                }); 
            });
            $('.datepicker').pickadate({
                format: 'yyyy-mm-dd'
            }).on('mousedown',function(event){
                event.preventDefault();
            });
        </script>
    </body>
</html>
