<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="ISO-8859-1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>
        <title>Form HelpRequest</title>
    </head>
    <body>
        <header th:insert="fragments/nav.html :: header"> </header>
        <h1>Form HelpRequest</h1>
        <form action="#" th:action="@{/insertHelpRequest}" th:object="${helpRequest}" method="post">
            <p>HelpRequest matiere: <input type="text" th:field="*{matiere}" /></p>
            <p>HelpRequest date begin: <input type="datetime-local" th:field="*{{dateBegin}}" /></p>
            <p>HelpRequest date end: <input type="datetime-local" th:field="*{{dateEnd}}" /></p>
            <p>HelpRequest comment: <input type="text" th:field="*{comment}" /></p>
            <p><input type="submit" value="Submit"  class="waves-effect waves-light btn right  teal darken-2"/></p>
        </form>
    </body>
</html>
