<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>MentorArc</title>
    </head>
    <body>
        <h1>MentorArc</h1>
        <p>Welcome</p>
        <p>Some URLs:</p>
        <ul>
            <li><a th:href="@{/allMentor}">allMentor</a></li>
            <li><a th:href="@{/formMentor}">formMentor</a></li>
            <li><a th:href="@{/insertMentor}">insertMentor</a></li>
            <li><a th:href="@{/allPoulain}">allPoulain</a></li>
            <li><a th:href="@{/formPoulain}">formPoulain</a></li>
            <li><a th:href="@{/insertPoulain}">insertPoulain</a></li>
        </ul>
    </body>
</html>