<!DOCTYPE html>
<html>
    <head>
        <meta charset="ISO-8859-1">
    <title>MentorArc</title>
    </head>
    <body>
        <p>This is the home page.</p>
        <ul>
            <li><a href="/login">login</a></li>
            <li><a href="/register">register</a></li>
            <li><a href="/logout">logout</a></li>
            <li><a href="/admin">admin</a> If this link works it means that you're logged as an admin</li>
            <li><a href="/member">member</a> If this link works it means that you're logged as a member (poulain or mentor).</li>
            <li><a href="/allMentor">allMentor</a></li>
            <li><a href="/formMentor">formMentor</a></li>
            <li><a href="/allPoulain">allPoulain</a></li>
            <li><a href="/formPoulain">formPoulain</a></li>
            <li><a href="/allHelpRequest">allHelpRequest</a></li>
            <li><a href="/formHelpRequest">formHelpRequest</a> - for POULAIN only</li>
        </ul>
    </body>
</html>