<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    
    <head>
        <meta charset="ISO-8859-1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
        <script type = "text/javascript" src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.js"></script>
        <title>Login</title>
    </head>

    <body style="background-color:#ededed;">
        <header th:insert="fragments/nav.html :: nav"> </header>
        <div class="container">
            <div class="row">
                <form th:action="@{/login}" method="POST" class="form-signin">
                    <h3 class="form-signin-heading" th:text="Login"></h3>
                    <br/>
                    <div class="card-panel red lighten-4 red-text text-darken-4" th:if="${param.error}">
                        <p>Email or Password is invalid</p>
                    </div>
                    <input type="text" id="email" name="email" th:placeholder="Email" class="form-control" required /> 
                    <br/>
                    <input type="password" th:placeholder="Password" id="password" name="password" class="form-control" required />
                    <br/>
                    <button class="btn btn-lg btn-primary btn-block" name="Submit" value="Login" type="Submit" th:text="Login" style="margin-right:10px;"></button>
                </form>
                <br>
                <form action="#" th:action="@{/register}" method="get">
                    <button class="btn btn-lg btn-primary btn-block" name="Submit" value="Login" type="Submit" th:text="Register" style="margin-right:10px;"></button>
                </form>
            </div>
        </div>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                var elems = document.querySelectorAll('.dropdown-trigger');
                var instances = M.Dropdown.init(elems, {});
            });
        </script>
    </body>
</html>