<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="ISO-8859-1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
        <script type = "text/javascript" src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.js"></script>
        <title>All Help Proposition</title>
    </head>

    <body>
        <header th:insert="fragments/nav.html :: nav"> </header>
        <div class="container">
            <h1 class="teal-text text-darken-4">Your help Propositions</h1>
            <div th:each="help: ${helpPropositions}">
                <div class="row">
                    <div class="col s12 m6">
                        <div class="card  teal lighten-1">
                            <div class="card-content white-text">
                                    <h5><strong>Branch</strong></h5>
                                    <span th:text="${help.branch}"></span>

                                    <h5><strong>Comment</strong></h5>
                                    <p th:text="${help.comment}"></p>

                                    <h5><strong>Date Begin</strong></h5>
                                    <p>
                                        <span th:text="${#dates.format(help.dateBegin, 'dd-MM-yyyy')}"></span>
                                        <span th:text="${#dates.format(help.timeBegin, 'HH:mm')}"></span>
                                    </p>
                                    <h5><strong>Date end</strong></h5>

                                    <p>
                                        <span th:text="${#dates.format(help.dateEnd, 'dd-MM-yyyy')}"></span>
                                        <span th:text="${#dates.format(help.timeEnd, 'HH:mm')}"></span>
                                    </p>
                                
                                    <h5><strong>Mentor</strong></h5>
                                    <p th:text="${help.mentor.username}"></p>

                                    <h5><strong>Poulain</strong></h5>
                                    <p th:if="${help.poulain != null}" th:text=" ${help.poulain.username}"></p>
                                    <p th:unless="${help.poulain != null}"><i>No one for now.</i></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                var elems = document.querySelectorAll('.dropdown-trigger');
                var instances = M.Dropdown.init(elems, {});
            });
        </script>
    </body>
</html>
