<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="ISO-8859-1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
        <script type = "text/javascript" src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.js"></script>
        <title>Register</title>
    </head>
    
    <body style="background-color: #ededed;">

        <script type="text/javascript">
            $(document).ready(function () {
                $('#submitBtn').click(function() {
                    checked = $("input[type=checkbox]:checked").length;
                    if(!checked) {
                    alert("You must check at least one checkbox.");
                    return false;
                    }
                });
            });
        </script>

        <header th:insert="fragments/nav.html :: nav"> </header>

        <div class="container">
            <div class="row">
                <form autocomplete="off" action="#" th:action="@{/register}" th:object="${user}" method="post" class="form-signin" role="form">
                    <h3 class="form-signin-heading">Registration Form</h3>
                    <div class="card-panel red lighten-4 red-text text-darken-4" th:if="${(bindingResult != null && bindingResult.getAllErrors() != null)}">
                        <span th:utext="${registerMessage}"></span>
                        <ul th:each="data : ${bindingResult.getAllErrors()}">
                            <li th:text="${data.getDefaultMessage()}"></li>
                        </ul>
                    </div>
                    <div class="form-group">
                        <div class="">
                            <label for="username">Username</label>
                            <input type="text" th:field="*{username}" id="username" name="username" placeholder="Username" class="form-control" pattern=".{4,16}" required title="4 to 16 characters" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="">
                            <label for="email">Email</label>
                            <input type="email" th:field="*{email}" id="email" name="email" placeholder="Email" class="form-control" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="">
                            <label for="password">Password</label>
                            <input type="password" th:field="*{password}" id="password" name="password" placeholder="Password" class="form-control" pattern=".{5,32}" required title="5 to 32 characters" />
                        </div>
                    </div>
                    <div class="form-check">
                        <label>
                            <input name="poulain" type="checkbox" class="filled-in"/>
                            <span>POULAIN</span>
                        </label>
                    </div>
                    <div>
                        <label>
                            <input name="mentor" type="checkbox"class="filled-in"/>
                            <span>MENTOR</span>
                        </label>
                    </div>
                    <div class="form-group">
                        <div class="">
                            <button type="submit" class="btn btn-primary btn-lg btn-block" id="submitBtn">Register User</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                var elems = document.querySelectorAll('.dropdown-trigger');
                var instances = M.Dropdown.init(elems, {});
            });
        </script>
    </body>
</html>